.rulesButton {
    background: none;
    border: 1px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    color: hsl(217, 16%, 45%);
    cursor: pointer;
    font-size: 1.10em;
    padding: 10px 40px;
}

@media (min-width: 200px) {
    .rulesButtonDiv {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 900px) {
    .rulesButtonDiv {
        justify-content: flex-end;
        margin-right: 7.5em;
    }
}